## Python builds

*.egg-info
*.pyc
build
dist

## Eclipse
.classpath
.project
.pydevproject
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## JetBrains
.idea

## Spyder
.spyderproject

## Visual Studio
.vscode

## OS Specific
.DS_Store
/bin/

## Project specific
*.log